.converted-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.comments-input {
  width: 60%;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333333;
  border-radius: 5px;
  resize: vertical;
}

.save-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0B60B0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  
.save-button:hover {
    background-color: #40A2D8;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
.save-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }